/* ===== Global Reset ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, sans-serif;
  background-color: #ffffff;
  /* color: #0b2447; */
  color: #003465;
  line-height: 1.6;
}

/* ===== Links ===== */
a {
  text-decoration: none;
  color: inherit;
}
