@import "tailwindcss";
/* @import "./base.css"; */
@import "tw-animate-css";

/* Dark mode variant */
@custom-variant dark (&:is(.dark *));

/* === Theme Tokens (Tailwind v4 + shadcn) === */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-ring: var(--ring);
  --color-border: var(--border);
}

/* Light */
:root {
  --primary: #003465;
  --background: #ffffff;
  --foreground: #111111;
}

/* Dark */
.dark {
  --background: #0b2447;
  --foreground: white;
}

/* Base layer */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
    padding: 0;
  }
}
