@import "tailwindcss";
/* @import "./base.css"; */
@import "tw-animate-css";

/* Dark mode variant */
@custom-variant dark (&:is(.dark *));

/* === Theme Tokens (Tailwind v4 + shadcn) === */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-ring: var(--ring);
  --color-border: var(--border);
}

/* Light */
:root {
  --primary: #003465;
  --background: #ffffff;
  --foreground: #111111;
}

/* Dark */
.dark {
  --background: #0b2447;
  --foreground: white;
}

/* Base layer */
@layer base {
  html, body {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }

  body {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
  }

  input,
  textarea,
  button,
  select {
    font-size: 16px;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  html {
    scrollbar-width: none;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .touch-manipulation {
    touch-action: manipulation;
  }
}
